@import url(https://fonts.bunny.net/css?family=chonburi:400);

/* Variables */

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(125, 164, 221);
}
img,
picture {
  display: block;
  max-width: 100%;
}
input,
button {
  font: inherit;
}

h1 {
  font-family: "Chonburi", display;
}
section {
  display: flex;
  height: 100vh;
}
