@import url(https://fonts.bunny.net/css?family=chonburi:400);

/* Variables */
html {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(125, 164, 221);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  font: inherit;
}

h1 {
  font-family: "Chonburi", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
  font-size: --font-size-4xl;
}
section {
  height: 75vh;
  max-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.media-wrapper {
  position: relative;
  flex: 3;
}

.backgroud {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.line {
  display: flex;
  position: absolute;
  top: 5rem;
  z-index: 1;
}

.logo {
  width: 30%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0rem;
  background-color: azure;
  flex: 5;
  overflow-y: auto;
}

.media-wrapper p {
  position: absolute;
  bottom: 2rem;
}

fieldset {
  border: none;
}

.form-wrapper {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content-wrapper > div {
  padding-left: 5rem;
  padding-right: 5rem;
}
