@import url(https://fonts.bunny.net/css?family=chonburi:400);

/* Variables */

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-size: 62, 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(125, 164, 221);
}

input,
button {
  font: inherit;
}

h1 {
  font-family: "Chonburi", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
}
section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.media-wrapper {
  position: relative;
}

.backgroud {
  position: relative;
  object-fit: cover;
  height: 50vh;
}

.line {
  display: flex;
  position: absolute;
  top: 5rem;
  z-index: 1;
  background-color: black;
  opacity: 0.33;
}

.logo {
  width: 30%;
}
